{% extends 'OCNAOBundle::layout.html.twig' %}


{% block body %}

  <div class="text-center">
    <h1>backoffice</h1>

    {% if is_granted('ROLE_OBSERVER') %}
    <h2>Observateur</h2>
    {% endif %}
    {% if is_granted('ROLE_NATURALIST') %}
    <h2>Naturaliste</h2>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <h2>Administrateur</h2>
    {% endif %}

    <h3>Observation publier</h3>
    <br>

{% if Listobservation|length < 1 %}
Vous n'avez rien publier pour l'instant
{% else %}
  <table class="table" style="width:30%;margin:auto">
     <tr>
       <th>date</th>
       <th>Nom</th>
     </tr>
     {% for observation in Listobservation %}
     {% if observation.status == true %}
     <tr>
       <td>{{ observation.datetime|date("d/m/Y") }}</td>
       <td>{{ observation.taxrefname }}</td>
     </tr>
     {% endif %}
     {% endfor %}
  </table>
{% endif %}


  <h3>Observation en attente</h3>
  {% if Listobservationvalidate|length < 1 %}
  Vous n'avez rien publier pour l'instant
  {% else %}
    <table class="table" style="width:30%;margin:auto">
       <tr>
         <th>date</th>
         <th>Nom</th>
         <th>Nom</th>
       </tr>
       {% for observation in Listobservationvalidate %}
       {% if observation.status == false %}
       <tr>
         <td>{{ observation.datetime|date("d/m/Y") }}</td>
         <td>{{ observation.taxrefname }}</td>
         <td>
<form class="" action="{{ path('ocnao_backoffice_validate', {'id': observation.id})}}" method="post">
  <button type="submit" name="button">Valider</button>
</form>
           </td>
       </tr>
       {% endif %}
       {% endfor %}
    </table>
  {% endif %}


</div>
</br>
<button type="submit" href="" name="button" href>Je ve devenir naturalist</button>
modal

{% endblock %}
