<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block title %}{% endblock %}
  {% block stylesheets %}
  <!-- jQuery -->
  <script src="{{asset("assets/jquery/js/jquery-3.2.1.min.js")}}"></script>
	<script src="{{asset("assets/jquery/js/jquery-ui.min.js")}}"></script>
	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="{{asset("assets/jquery/css/jquery-ui.css")}}">
  <link rel="stylesheet" href="{{asset("assets/css/map.css")}}">
  <link rel="stylesheet" href="{{asset("assets/jquery/css/jquery-ui.structure.css")}}">
  <link rel="stylesheet" href="{{asset("assets/jquery/css/jquery-ui.theme.css")}}">

  {% endblock %}

</head>

  <body>
  <ul class="nav nav-tabs">
  <li role="presentation"><a href="{{ path('ocnao_homepage') }}">Home</a></li>
  <li role="presentation"><a href="{{ path('ocnao_recherche') }}">Recherche</a></li>
  <li role="presentation"><a href="{{ path('ocnao_observation') }}">Observation</a></li>
  <li role="presentation"><a href="{{ path('ocnao_contact') }}">Contact</a></li>
  <li role="presentation"><a href="{{ path('ocnao_backoffice') }}">Backoffice</a></li>

  </ul>

{% block body %}{% endblock %}

<div class="container">
<div>
    <h3>Utilisateur</h3>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      Connecté en tant que {{ app.user.username }}
      <br>
      <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    {% else %}
      <a href="{{ path('fos_user_security_login') }}">Connexion</a>
      <a href="{{ path('fos_user_registration_register') }}">Inscription</a>

    {% endif %}
  </div>
  <div >
    {% block user %}
    {% endblock %}
  </div>
</div>
</body>
</html>
