<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block title %}{% endblock %}
  {% block stylesheets %}
  <!-- jQuery -->
  <script src="{{asset("assets/jquery/js/jquery-3.2.1.min.js")}}"></script>
	<script src="{{asset("assets/jquery/js/jquery-ui.min.js")}}"></script>
	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="{{asset("assets/jquery/css/jquery-ui.css")}}">
  <link rel="stylesheet" href="{{asset("assets/css/map.css")}}">
  <link rel="stylesheet" href="{{asset("assets/css/main.css")}}">
  <link rel="stylesheet" href="{{asset("assets/jquery/css/jquery-ui.structure.css")}}">
  <link rel="stylesheet" href="{{asset("assets/jquery/css/jquery-ui.theme.css")}}">

  {% endblock %}

</head>


  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" id="popover" class="navbar-toggle collapsed" data-toggle="popover" data-placement="bottom" >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
         </button>
         {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
           <button type="button" id="popoverUser" class="navbar-toggle collapsed" data-toggle="popoverUser" data-placement="bottom" >
             <span class="glyphicon glyphicon glyphicon-user"></span>
           </button>
         {% else %}
             <a class="btn btn-default navbar-toggle" href="{{ path('fos_user_registration_register') }}">Inscription</a>
             <a class="btn btn-default navbar-toggle" href="{{ path('fos_user_security_login') }}" >Connexion</a>
         {% endif %}
         <a class="navbar-brand" href="#">Nos Amis les Oiseaux</a>
       </div>
       <div>
          <ul class="collapse navbar-collapse nav navbar-nav">
              <li role="presentation"><a href="{{ path('ocnao_homepage') }}">Home</a></li>
              <li role="presentation"><a href="{{ path('ocnao_recherche') }}">Recherche une observation</a></li>
              <li role="presentation"><a href="{{ path('ocnao_addObservation') }}">Ajouter une observation</a></li>
              <li role="presentation"><a href="{{ path('ocnao_contact') }}">Contact</a></li>
              <li role="presentation"><a href="{{ path('ocnao_backoffice') }}">Profil</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li role="presentation"><a href="{{ path('ocnao_backoffice') }}"><span class="glyphicon glyphicon-user"> {{ app.user.username }}</span></a></li>
                <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% else %}
                <li role="presentation"><a href="{{ path('fos_user_security_login') }}" >Connexion</a></li>
                <li role="presentation"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>


<!-- popover -->
   <div id="popoverUser-content" class="list-group" style="display: none">
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
       <a class="list-group-item" href="{{ path('ocnao_backoffice') }}"><span class="glyphicon glyphicon-user"> {{ app.user.username }}</span></a>
       <a class="list-group-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
     {% endif %}
   </div>

   <div id="popover-content" class="list-group" style="display: none">
     <a class="list-group-item" href="{{ path('ocnao_homepage') }}">Home</a>
     <a class="list-group-item" href="{{ path('ocnao_recherche') }}">Recherche une observation</a>
     <a class="list-group-item" href="{{ path('ocnao_addObservation') }}">Ajouter une observation</a>
     <a class="list-group-item" href="{{ path('ocnao_contact') }}">Contact</a>
     <a class="list-group-item" href="{{ path('ocnao_backoffice') }}">Profil</a>
   </div>

<!-- code js pour le test popover -->
<script type="text/javascript">
$(function() {
  $('[data-toggle="popoverUser"]').popover({
        html: true,
        content: function() {
            return $('#popoverUser-content').html();
        }
  });
});
$(function() {
  $('[data-toggle="popover"]').popover({
        html: true,
        content: function() {
            return $('#popover-content').html();
        }
  });
});
</script>



<div class="container" style="margin-top:50px">
  {% for label, messages in app.flashes(['info', 'success']) %}
    {% for message in messages %}
      <div class="alert alert-{{ label }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}

{% block body %}{% endblock %}
</div>

<div class="container">
  <div >
    {% block user %}{% endblock %}
  </div>
</div>



</body>
<footer>
  <div class="container">
    <h3>Dev</h3>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Connecté en tant que {{ app.user.username }}

        <p>etape 1 cliquer sur le role voulu</p>
          <a href="{{ path('ocnao_backoffice_obs') }}">devenir observateur</a>
          <a href="{{ path('ocnao_backoffice_nat') }}">devenir naturalist</a>
          <a href="{{ path('ocnao_backoffice_adm') }}">devenir administrateur</a>
        <p>etape 2 ce deconnecte</p>
        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
      {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
      {% endif %}
  </div>


</footer>
</html>
