{% extends 'OCNAOBundle::layout.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="formulaire col-md-6">
    <h1>Observation</h1>

    {{ form_start(form) }}
      {{ form_errors(form) }}

        {{ form_row(form.taxrefname, {
          'label': "Nom de l'espece",
          'attr': {
  					'data-id': 'listedesespeces',
  					'data-url': path('ocnao_autocomplete')
            }
          })
        }}
        {{ form_row(form.notsur, {'label': "Pas sûr de moi ? (À cocher si vous n'êtes pas sûr de l'espèce d'oiseau, cocher la case rend la photo obligatoire.)"  }) }}

        {{ form_row(form.picture, {'label': "Photo de l'observation" }) }}


        <div class="Coordonnees">
          <label>Coordonnees GPS:</label>
          <h6>Cliquez sur la carte afin de remplir les coordonnées automatiquement</h6>
          {{ form_row(form.latitude, {'label': "Latitude" }) }}
          {{ form_row(form.longitude, {'label': "Longitude" }) }}
        </div>

      {{ form_row(form.submit, {'label': 'Envoyer'}) }}
      {{ form_end(form) }}
    </div>

    <div class="carte">
      <div id="map"></div>
    </div>
    {% else %}
    <p>Vous devez être connecté pour acceder à cette partie du site</p>
    <a href="{{ path('fos_user_security_login') }}">Connexion</a></br>
    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
    {% endif %}
  </div>
</div>

<script src="{{asset("assets/js/mapAddObs.js")}}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDwjyiE5EGvQcAaJPNkxATWhrxBUsb11A&callback=initMap">
</script>
<script src="{{asset("assets/js/autocomplete.js")}}"></script>


{% endblock %}
