{% extends 'OCNAOBundle::layout.html.twig' %}

{% block body %}

<div class="container">
  <h2>AJOUTER UNE OBSERVATION</h2>
  <div class="row form">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="formulaire col-md-6 col-xs-12">

      {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="imageForm">
          <h4>PHOTO DE L'OISEAU OBSERVÉ</h4>
          <label class="photoFileLabel col-md-12 control-label center" for="observation_picture_image">
            <img id="blah" src="/Projet5-OC/web/assets/images/choosePic.png" onclick="javascript:readURL();" alt=""></img>
          </label>
          {{ form_widget(form.picture.image, {'attr': {'class': 'hidden'}} ) }}
        </div>

      <h4>NOM DE L'ÉSPÈCE OBSERVÉE</h4>
      {{ form_widget(form.taxrefname, {
        'attr': {
        'data-id': 'listedesespeces',
        'data-url': path('ocnao_autocomplete')
        }
        })
      }}
      <div class="col-xs-10">
        <h5>Je ne suis pas sûr(e) de moi</h5>
      </div>
      <div class="col-xs-2">
        {{ form_widget(form.notsur) }}
      </div>
      <div class="col-xs-6">
        <h5>DATE DE L'OBSERVATION</h5>
      </div>
      <div class="col-xs-6">
        {{ form_row(form.dateObs) }}
      </div>
    </div>

    <div class="carte col-md-6 col-xs-12">
      <h4>EMPLACEMENT DE L'OISEAU OBSERVÉ</h4>
      <div id="map">
      </div>
      <div class="Coordonnees">
        <span id="observation_ville"></span>
        <div class="hidden">
        {{ form_row(form.latitude, {'label': "Latitude"}) }}
        {{ form_row(form.longitude, {'label': "Longitude"}) }}
        </div>
      </div>
    </div>
    <div class="col-xs-12 submitBtn">
      {{ form_row(form.submit, {'label': 'Envoyer', 'attr': {'class': 'col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4'}}) }}
      {{ form_end(form) }}
    </div>
    {% else %}
    <p>Vous devez être connecté pour acceder à cette partie du site</p>
    <a href="{{ path('fos_user_security_login') }}">Connexion</a></br>
    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
    {% endif %}
  </div>
</div>

<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
            $('.image').removeClass('hidden');
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#observation_picture_image").change(function(){
    readURL(this);
});

$('#observation_dateObs').datepicker({
  format: "dd MM yyyy",
  endDate: '0',
  todayBtn: true,
  language: "fr",
  autoclose: true,
  todayHighlight: true,
});

</script>
<script src="{{asset("assets/js/mapAddObs.js")}}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDwjyiE5EGvQcAaJPNkxATWhrxBUsb11A&callback=initMap">
</script>
<script src="{{asset("assets/js/autocomplete.js")}}"></script>


{% endblock %}
