{% extends 'OCNAOBundle::layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <h1>Resultats de la recherche</h1>

    <button type="button" class="btnListe hidden">Liste</button>
    <button type="button" class="btnCarte hidden">Carte</button>

    <div id='Observations' class="col-md-6 col-xs-12">
      {% if session.espece == null %}
        <input type="button" value="Retour au dernieres observations publiée" onClick="document.location.href = document.referrer" />
      {% else %}
        <input type="button" value="Retour aux resultats de la recherche" onClick="document.location.href = document.referrer" />
      {% endif %}
      {% if observation.0.status == 0 %}
        <a href="{{ path('ocnao_validate', {'id': observation.0.id }) }}">Valider l'observation</a>
      {% endif %}
    </div>

    <div id="coordonnees" class="hidden">
        <div data-latitude="{{ observation.0.latitude }}" data-longitude="{{ observation.0.longitude }}" data-username="{{ observation.0.user.username }}"></div>
    </div>

    <div id="Carte" class="col-md-6 col-xs-12">
      <div id="map">
      </div>
    </div>
  </div>
</div>


<script src="{{asset("assets/js/mapObs.js")}}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDwjyiE5EGvQcAaJPNkxATWhrxBUsb11A&callback=initMap">
</script>

{% endblock %}
