{% extends 'OCNAOBundle::layout.html.twig' %}

{% block body %}
<div class="">
  <div class="row">
    <div class="formulaire col-md-12">
      <div class="rechercheTitle col-md-4 col-xs-12">RECHERCHER UNE ESPÈCE D'OISEAU
      </div>
      <div class="col-xs-10 col-xs-offset-1  col-md-offset-0 col-md-5">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        {{ form_widget(form.espece, {
          'attr': {
  					'data-id': 'listedesespeces',
  					'data-url': path('ocnao_autocomplete')
            }
          })
        }}
      </div>
      <div class="col-md-2 col-xs-12 rechercheBoutton">
        {{ form_widget(form.submit, {'label': 'Rechercher'}) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>
  <div class="lastObs">
    <h3 class="center">Résultat(s) de votre recherche: {{ results.0.taxrefname }}</h3>
    <div class="affichageXs visible-xs col-xs-12">
      <h4 class="col-xs-offset-1 col-xs-9">Affichage</h4>
      <div>
        <button class="btn btn-default btnCarte col-xs-1"><span class="glyphicon glyphicon-map-marker"></span></button>
        <button class="btn btn-default btnListe col-xs-1"><span class="glyphicon glyphicon-tasks"></span></button>
      </div>
    </div>
    <div class="bandeau col-md-8">
      <h3 class="center white">CARTE INTERACTIVE</h3>
    </div>
    <div class="bandeau col-md-4">
      <h3 class="center white">LISTE</h3>
    </div>
    <div class="row">
      <div id="Carte" class="col-md-8 col-xs-12">
        <div id="map">
        </div>
      </div>
      <div class="row Liste col-md-4 col-xs-12">
        {% for result in results %}
        <div class="col-md-6 col-xs-6">
          <div class="observation">
            <div class="photo col-md-12">
              {% if result.picture.image is defined %}
                <div class="picture center">
                  <a href="{{ path('ocnao_observation', {'id': result.id }) }}"><img class="photoObs" src="{{ asset('uploads/picture/' ~ result.picture.image) }}" alt="Photo de l'observation"/></a>
                </div>
              {% else %}
                <div class="picture center">
                  <a href="{{ path('ocnao_observation', {'id': result.id }) }}"><img class="photoObs" src="{{ asset('assets/images/photoObs.png') }}" alt="Photo de l'observation"/></a>
                </div>
              {% endif %}
            </div>
            <div class="description col-md-12 col-xs-12">
              <h4 class="center">{{ result.taxrefname }}</h4>
              <div class="col-md-6 col-xs-6">
                <h5>{{ result.user.username }}</h5>
              </div>
              <div class="col-md-6 col-xs-6">
                <h5>{{ result.dateObs.date|date("d/m/Y") }}</h5>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div id="coordonnees" class="hidden">
  {% for result in results %}
    {% if result.picture.image is defined %}
    <div data-latitude="{{ result.latitude }}"
         data-longitude="{{ result.longitude }}"
         data-username="{{ result.user.username }}"
         data-espece="{{ result.taxrefname }}"
         data-date="{{ result.dateObs.date|date("d/m/Y") }}"
         data-src="{{ asset('uploads/picture/' ~ result.picture.image) }}">
    </div>
    {% else %}
    <div data-latitude="{{ result.latitude }}"
         data-longitude="{{ result.longitude }}"
         data-username="{{ result.user.username }}"
         data-espece="{{ result.taxrefname }}"
         data-date="{{ result.dateObs.date|date("d/m/Y") }}"
         data-src="{{ asset('assets/images/logo_nao.png') }}">
    </div>
    {% endif %}
  {% endfor %}
</div>

<script src="{{asset("assets/js/mapmarkers.js")}}"></script>

<script>
</script>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDwjyiE5EGvQcAaJPNkxATWhrxBUsb11A&callback=initMap">
</script>
<script src="{{asset("assets/js/autocomplete.js")}}"></script>

{% endblock %}
