{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<h1 class="text-center">Connexion</h1>
<br>
<div class="col-md-offset-4 ">

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}


      <div class="form-group">
        <label class="col-sm-2 control-label" for="username">{{ 'Pseudo/Email'|trans }}<span style="color:red">*</span></label>
        <div class="col-sm-4">
          <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
      </div>

<br>
<br>
<div class="row">


<div class="col-sm-2 text-right">
  <label for="password">{{ 'security.login.password'|trans }}<span style="color:red">*</span></label>
  </div>
  <div class="col-sm-2">
      <input type="password" id="password" name="_password" required="required" />
  </div>
</div>

<div class="row">
<div class="col-md-offset-2 col-sm-2">
<br>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
<br>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</div>
</div>
</form>
</div>
