{% extends 'OCNAOBundle::layout.html.twig' %}

{% block list %}class="menuactive2"{% endblock %}

{% block body %}

<div class="container">
  <ul class="nav nav-tabs">
    <li {% if statusobs == 'publish' %}{% endif %}>
        <a  href="{{ path('ocnao_profil_listobs',{'statusobs': 'publish'}) }}">Observation publier</a>
    </li>
    {% if is_granted('ROLE_OBSERVER') %}
    <li {% if statusobs == 'pending' %}{% endif %}>
      <a  href="{{ path('ocnao_profil_listobs',{'statusobs': 'pending'}) }}">Observation en attente</a>
    </li>
    <li {% if statusobs == 'pending' %}{% endif %}>
      <a  href="{{ path('ocnao_profil_listobs',{'statusobs': 'conforme'}) }}">Observation Non conforme</a>
    </li>
    {% endif %}
    {% if is_granted(['ROLE_NATURALIST', 'ROLE_ADMIN']) %}
    <li {% if statusobs == 'validate' %}{% endif %}>
      <a  href="{{ path('ocnao_profil_listobs',{'statusobs': 'validate'}) }}">Obervation validé</a>
    </li>
    {% endif %}
  </ul>

{% if statusobs == 'publish' %}

{% endif %}


{% if notobs == true %}
vous n'avez pas observation pour l'instant
{% else %}

<div class="row">


<div class=" Liste col-md-6 col-lg-4 col-xs-12">
{% for obs in observationList %}
<div class="col-sm-6 col-md-6 col-xs-6">
  <div class="observation">
    <div class="photo col-md-12">
      {% if obs.picture.image is defined %}
        <div class="picture center">
          <a href="{{ path('ocnao_observation', {'id': obs.id }) }}"><img class="photoObs" src="{{ asset('uploads/picture/' ~ obs.picture.image) }}" alt="Photo de l'observation"/></a>
        </div>
      {% else %}
        <div class="picture center">
          <a href="{{ path('ocnao_observation', {'id': obs.id }) }}"><img class="photoObs" src="{{ asset('assets/images/photoObs.png') }}" alt="Photo de l'observation"/></a>
        </div>
      {% endif %}
    </div>
    <div class="description col-md-12 col-xs-12">
      <h4 class="center">{{ obs.taxrefname }}</h4>
      <div class="col-md-6 col-xs-6">
        <h5>{{ obs.user.username }}</h5>
      </div>
      <div class="col-md-6 col-xs-6">
        <h5 class="italic right">{{ obs.dateObs.date|date("d/m/Y") }}</h5>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>

</div>


  {% if page == 1 %}
  <div class="">
    <a href="{{ path('ocnao_profil_listobs', {'statusobs': statusobs, 'page': 1}) }}">precedent</a>
  </div>

  {% else %}
  <div class="">
      <a href="{{ path('ocnao_profil_listobs', {'statusobs': statusobs, 'page': page - 1}) }}">precedent</a>
  </div>

  {% endif %}
  {% if page == nbPages %}
  <div class="">
    <a href="{{ path('ocnao_profil_listobs', {'statusobs': statusobs, 'page': page}) }}">suivante</a>
  </div>
{% else %}
<div class="">
  <a href="{{ path('ocnao_profil_listobs', {'statusobs': statusobs, 'page': page + 1}) }}">suivante</a>
</div>
{% endif %}




  <div class="row text-center">
    <ul class="pagination">
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}


      {% for p in range(1, nbPages) %}

        <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('ocnao_profil_listobs', {'statusobs': statusobs, 'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
<!-- fin test not obs -->
{% endif %}


<!-- div fin container -->
  </div>
{% endblock %}
