{% extends 'OCNAOBundle:Profil:layoutobservation.html.twig' %}

{% block observationlist %}

<div class="container">
  <ul class="nav nav-tabs">
    <li><a href="{{ path('ocnao_userobservation') }}">Observation publier</a></li>
    {% if is_granted('ROLE_OBSERVER') %}
    <li><a  href="{{ path('ocnao_pendingobservation') }}">Observation en attente</a></li>
    {% endif %}
    {% if is_granted(['ROLE_NATURALIST', 'ROLE_ADMIN']) %}
    <li><a  href="{{ path('ocnao_observationvalidate') }}">Obervation validé</a></li>
    {% endif %}
  </ul>



      <div class="row Liste">
      {% for obs in observationList %}
      <div {% if obs.notconforme == true %}class=".bg-danger"{% endif %}>
      <div class="col-md-3 col-xs-6">
        <div class="observation">

          <div class="photo col-md-12">
            {% if obs.picture.image is defined %}
              <div class="picture center">
                <img class="photoObs" src=" {{ asset('uploads/picture/' ~ obs.picture.image) }}" alt="Photo de l'observation"/>
              </div>
            {% endif %}
          </div>
          <div class="description col-md-12">
            <div class="title center">
              <h3>{{ obs.taxrefname }}</h3>
              <h5>Observé par {{ obs.user.username }}</h5>
              <a href="{{ path('ocnao_observation', {'id': obs.id }) }}">Voir l'observation</a>
            </div>
          </div>
        </div>
      </div>
        </div>
      {% endfor %}
    </div>
  </div>



<div class="text-center">
  <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}

      <li{% if p == page %} class="active"{% endif %}>
      {% if route == 1 %}
          <a href="{{ path('ocnao_userobservation', {'page': p}) }}">{{ p }}</a>
      {% endif %}
      {% if route == 2 %}
          <a href="{{ path('ocnao_pendingobservation', {'page': p}) }}">{{ p }}</a>
      {% endif %}
      {% if route == 3 %}
          <a href="{{ path('ocnao_observationvalidate', {'page': p}) }}">{{ p }}</a>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>


</div>
{% endblock %}
