{% extends 'OCNAOBundle::layout.html.twig' %}

{% block user1 %}class="menuactive2"{% endblock %}
{% block user2 %}class="menuactive2"{% endblock %}
{% block user3 %}class="menuactive2"{% endblock %}
{% block user4 %}class="menuactive2"{% endblock %}

{% block body %}
<div class="container">
  {% if result == false %}
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h3>rechercher un utilisateur</h3>
    </div>
    <!-- </div>
    <div class="row"> -->
    <div class="col-md-offset-4 col-md-3">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
          {{ form_errors(form) }}
          {{ form_widget(form.name, {
            'attr': {
              'data-id': 'username',
              'data-url': path('ocnao_profil_autocomplete')
              }
            })
          }}
      </div>

      <div class="col-md-1 ">
          {{ form_widget(form.submit, {'label': 'Rechercher'}) }}
          {{ form_end(form) }}
      </div>
  </div>
  {% else %}
  <div class="col-md-offset-4 col-md-4">
  <h3>{{user.username}}</h3>

  <p>Email: {{user.email}}</p>

  <p>Roles: {{user.roles[0]}}</p>




  <form class="" action="{{path('ocnao_profil_role')}}" method="post">
  <select id="myselect" name="role">
    <option value="ROLE_OBSERVER">Observateur</option>
    <option value="ROLE_NATURALIST">Naturaliste</option>
    <option value="ROLE_ADMIN">Administrateur</option>
  </select>
    <input type="hidden" name="username" value="{{user.username}}">
    <!-- <input type="submit" value="Valider"> -->

    <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#confirm-delete">valider</button>

  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h3>Confirmation</h3>
              </div>
              <div class="modal-body">
                Etes vous sur d'attribuez
                le role : <strong id="role"></strong>
                à l'utilisateur: <strong>{{user.username}}</strong>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">NON</button>
                  <input type="submit" class="btn btn-danger" value="OUI">
              </div>
          </div>
      </div>
  </div>
  </form>



<div>
  <form action="{{path('ocnao_profil_removeuser')}}">
    <input type="hidden" name="usernameremove" value="{{user.username}}">
  <input type="submit" value="Suprimer le compte"> modal de confirmaion
  </form>
</div>

</div>
  {% endif %}
</div>

<script type="text/javascript">
$("input[data-id=username]").autocomplete({
    source: function (request, response) {
        var username = $("input[data-id=username]").val();
        var objData = 'username=' + username;
        var url = $(this.element).attr('data-url');

        $.ajax({
            url: url,
            dataType: "json",
            data : objData,
            type: 'POST',
            success: function (data) {
                response($.map(data, function (user) {
                    return {
                    label: user.username
                    }
                }));
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }
  })
  //Affichage et récupération de la valeur sélectionnée
  $("input[data-id=username]").on('autocompleteselect',function(event, ui) {

    event.preventDefault();

      var contact = ui.item.label;
          id = ui.item.value;
      console.log('Event: ', event);
      console.log('UI :', ui.item);
      $(event.currentTarget).val(contact);

  });

//modal pour confirmation
$('#confirm-delete').on('show.bs.modal', function(e) {
     $('#role').text('');
     $('#role').prepend($( "#myselect option:selected" ).text());
});


</script>



{% endblock %}
