{% extends 'OCNAOBundle::layout.html.twig' %}

{% block observationlist %}

<div class="container">
  <ul class="nav nav-tabs">
    <li {% if route == 'ocnao_profil_userobservation' %}class='active'{% endif %}>
        <a  href="{{ path('ocnao_profil_userobservation') }}">Observation publier</a>
    </li>
    {% if is_granted('ROLE_OBSERVER') %}
    <li {% if route == 'ocnao_profil_pendingobservation' %}class='active'{% endif %}>
      <a  href="{{ path('ocnao_profil_pendingobservation') }}">Observation en attente</a>
    </li>
    <li {% if route == 'ocnao_profil_pendingobservation' %}class='active'{% endif %}>
      <a  href="{{ path('ocnao_profil_pendingobservation') }}">Observation Non comforme</a>
    </li>
    {% endif %}
    {% if is_granted(['ROLE_NATURALIST', 'ROLE_ADMIN']) %}
    <li {% if route == 'ocnao_profil_observationvalidate' %}class='active'{% endif %}>
      <a  href="{{ path('ocnao_profil_observationvalidate') }}">Obervation validé</a>
    </li>
    {% endif %}
  </ul>

{% if route == 'ocnao_profil_userobservation' %}

{% endif %}


{% if notobs == true %}
vous n'avez pas observation pour l'instant
{% else %}


      <div class="row Liste">

      {% for obs in observationList %}
      <div {% if obs.notconforme == true %}class=".bg-danger"{% endif %}>
        <div class="col-md-3 col-xs-6">
          <div class="observation">
            <div class="photo col-md-12">
              {% if obs.picture.image is defined %}
                <div class="picture center">
                  <a href="{{ path('ocnao_observation', {'id': obs.id }) }}"><img class="photoObs" src="{{ asset('uploads/picture/' ~ obs.picture.image) }}" alt="Photo de l'observation"/></a>
                </div>
              {% else %}
                <div class="picture center">
                  <a href="{{ path('ocnao_observation', {'id': obs.id }) }}"><img class="photoObs" src="{{ asset('assets/images/photoObs.png') }}" alt="Photo de l'observation"/></a>
                </div>
              {% endif %}
            </div>
            <div class="description col-md-12 col-xs-12">
              <h4 class="center">{{ obs.taxrefname }}</h4>
              <div class="col-md-3 col-xs-6">
                <h5>{{ obs.user.username }}</h5>
              </div>
              <div class="col-md-3 col-xs-6">
                <h5>{{ obs.datetime.date|date("d/m/Y") }}</h5>
              </div>
            </div>
          </div>
        </div>
</div>
      {% endfor %}

  </div>



<div class="text-center">
  <ul class="pagination">

    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}

    {% for p in range(1, nbPages) %}

      <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path(route, {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
<!-- fin test not obs -->
{% endif %}
<div class="container"> <!-- A supprimer a la fin du dev -->
  <h3>Dev</h3>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      Connecté en tant que {{ app.user.username }}

      <p>etape 1 cliquer sur le role voulu</p>
        <a href="{{ path('ocnao_profil_obs') }}">devenir observateur</a>
        <a href="{{ path('ocnao_profil_nat') }}">devenir naturalist</a>
        <a href="{{ path('ocnao_profil_adm') }}">devenir administrateur</a>
      <p>etape 2 ce deconnecte</p>
      <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    {% else %}
      <a href="{{ path('fos_user_security_login') }}">Connexion</a>
      <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
    {% endif %}
</div>

</div>
{% endblock %}
